{% extends 'admin/base_site.html' %}
{% block title %}You are Registered{% endblock %}
{% block content %}

  <h2>Thank you for Registering</h2>
  <p><a href="/accounts/login/">Please Login</a></p>

{% endblock %}
